/* ヘッダー */
body{
  margin-top: 0;
}
.header_box{
  text-align: center;
}
h1 img{
  width: 10%;
}
.title h3{
  margin-top: 5%;
  font-size: 40px;
  font-family: "ヒラギノ明朝 ProN";
  letter-spacing: .10em;

}

/* メイン */
.clearfix::after{
  content:"";
  display: block;
  clear: both;
}
#cart1{
  border-bottom: 1px solid #757575;
  padding-bottom: 2%;
  border-top: 1px solid #757575;
  padding-top: 2%;
}
#cart2{
  margin-top: 4%;
  border-bottom: 1px solid #757575;
  padding-bottom: 2%;
}
.img{
  width: 50%;
}
h2 img{
  width: 30%;
  margin-left: 40%;
  border: 1px solid #757575;;
}
.cart_menu{
  width: 50%;
  margin-right: 10%;
  float: right;
}
.cart_menu2{
  width: 50%;
  margin-right: 10%;
  float: right;
}
.cart_menu2 p{
  margin-top: 0;
}
.price{
  float: right;
  display: inline-block;
  text-align: right;
  margin-right: 20%;
  margin-top: -10%;
}
.sub p{
  color: #757575;
}
/* サイズ */
.selectbox_quantity{
  margin-top: 5%;
}
.delete_box{
  margin-top: 10%;
}
.subtotal_price{
  margin-top: 30%;
}
.subtotal_price p{
  font-weight: bold;
}
/* 合計 */
.total_price{
  letter-spacing: .15em;
  margin-top: 3%;
  width: 50%;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  color: #FFF;
  background: #757575;
  border-radius: 4px;/*角の丸み*/
  font-weight: bold;
  margin-left: 25%;
  margin-right: auto;
}
/* 買い物を続ける */
.continue{
  letter-spacing: .15em;
  margin-top: 3%;
  width: 30%;
  text-align: center;
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #000000;
  background: #ffffff;/*背景色*/
  border: 1px solid #000000;
  border-bottom: solid 2px #000000;/*少し濃い目の色に*/
  border-bottom: solid 1px #000000;
  border-radius: 4px;/*角の丸み*/
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  font-weight: bold;
}
.continue:active{
  border-bottom: solid 2px #000000;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}
/* レジへ進む */
.advance{
  letter-spacing: .15em;
  margin-top: 3%;
  width: 30%;
  text-align: center;
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #000000;/*背景色*/
  border-bottom: solid 2px #757575;/*少し濃い目の色に*/
  border-radius: 4px;/*角の丸み*/
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  font-weight: bold;
}
.advance:active{
  border-bottom: solid 2px #000000;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}

.title_buy{
  width: 50%;
  margin-left: 25%;
  margin-top: 3%;
  display: flex;
  justify-content: space-around;
}
/* リンク */
.social_icons{
  text-align: center;
}
.social_icons a{
    color: black;
    padding: 2%;
}
.link{
  text-align: center;
  margin-top: 10%;
  clear: left;
  border-top: 1px solid;
  padding-top: 5%;
}
.contact{
  margin-top: 2%;
}
.contact a{
  font-size: 15px;
  font-family: "ヒラギノ明朝 ProN";
  text-decoration: none;
}
/* フッター */
footer{
  text-align: center;
  color: black;
  font-family: "ヒラギノ明朝 ProN";
  font-size: 10px;
  margin-top: 2%;
}